body{
  margin: 0;
  padding: 0;
  background-color: #1e1927 !important;
}


.cover{
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.title{
  color: whitesmoke;
  font-size: 2.5rem;
}
.home-add{
  width: 8%;
}

input{
  width: 100%;
  outline: none;
}
.add-book{
  margin-top: 1rem;
}
.books-cover{
  margin-top: 1rem;
}
.single-book-cover{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 5px;
  color: black;
  background-color: #fbf8ff;
  margin-bottom: 1rem;
}

.single-book-cover p{
  width: 15rem;
  font-size: 1.1rem;
}
.single-book-cover p:nth-child(1){
  font-size: 1.3rem;
  font-weight: bold;
}
.single-book-cover p:nth-child(3){
  color: gray;
}

.delete-btn{
  margin-right: 5px;
}

textarea{
  resize: none !important;
}